<img src="http://i.imgur.com/5t8pTrx.jpg" id="sign-img">
<div class="jumbotron text-center">
  <h1>Sign In</h1></br>

  <%= render 'form' %>
</br>
  <a><%= link_to 'Need an account?', href="/signup#/" %></a>
</div>
