<div class="container ">
    <div id="wrapper">
      <nav id="primary">
        <ul>
          <li>
            <h3>docket</h3>
            <a class="home" href="#home">View</a>
          </li>
          <li>
            <h3>What docket is</h3>
            <a class="what" href="#what">View</a>
          </li>
          <li>
            <h3>More about docket</h3>
            <a class="more" href="#more">View</a>
          </li>
          <li>
            <h3>About</h3>
            <a class="about" href="#about">View</a>
          </li>
        </ul>
      </nav>
      
      <div id="content">
        <article id="home">
          <header>
            <h3>docket</h3>
          </header>
          <p class="lead"><strong>docket</strong> makes it easier to live the life you've always wanted.  Click the down arrow below to learn more.</p>
          <a class="btn btn-default btn-lg sign-in" href="/signin">Sign In</a>
          </br>
          <a href="/signup">Need an account?</a>
          <nav class="next-prev">
            <hr />
            <a class="next what" href="#what">Next</a>
          </nav>
        </article>
        
        <article id="what">
          <header>
            <h1>Why use docket?</h1>
          </header>
          <p class="lead">How many days have you spent watching more movies and TV than you meant to?  How nights have you gone to bed feeling as though you didn't use your day to the fullest?  How many times are you able to look back on the past week and know that you truly lived life to the fullest?</br><em><a a href="/signup">Sign up for <strong>docket</strong> and get your life started.</a></em></p>
          <nav class="next-prev">
            <a class="prev home" href="#home">Prev</a>
            <hr />
            <a class="next more" href="#more">Next</a>
          </nav>
        </article>
        
        <article id="more">
          <header>
            <h1>More about docket</h1>
          </header>
          <p class="lead"><strong>docket</strong> helps you make plans to utilize the free-time in your schedule.  No more wasted evenings on weekends on the couch.  No more finding out that your favorite band was in town last week...and you missed it.  Take control of your free-time with <strong>docket.</strong></p>
          <nav class="next-prev">
            <a class="prev what" href="#what">Prev</a>
            <hr />
            <a class="next about" href="#about">Next</a>
          </nav>
        </article>
        
        <article id="about">
          <header>
            <h1>About</h1>
          </header>
          <p class="lead"><strong>docket</strong> was created by utilizing API's from around the web to give you the most robust event search on the internet.  You'll never miss another event.
          <nav class="next-prev">
            <a class="prev more" href="#more">Prev</a>
            <hr />
          </nav>
        </article>
      </div>

      <!-- Parallax foreground images-->
      <div id="parallax-bg3">
        <!-- <img id="bg3-1" src="" width="500" height="500" alt="love life"/> -->
        <!-- <img id="bg3-2" src="" width="603" height="583" alt=""/> -->
        <!-- <img id="bg3-3" src="" width="446" height="713" alt=""/>
        <img id="bg3-4" src="" width="1104" height="684" alt=""/> -->
      </div>
      
      <!-- Parallax  midground images -->
      <div id="parallax-bg2">
        <img id="bg2-1" src="" alt=""/>
        <img id="bg2-2" src="" alt=""/>
        <img id="bg2-3" src="" alt=""/>
        <img id="bg2-4" src="" alt=""/>
        <img id="bg2-5" src="" alt=""/>
      </div>
      
      <!-- Parallax  background image -->
      <div id="parallax-bg1">
        <img id="bg1-1" src="//i.imgur.com/5t8pTrx.jpg" alt=""/>
      </div>
    
        <div class="rectangle"></div>
    </div>
</div>
