<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">docket</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>

    <%#if signed_in? %>
<!--       <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%# link_to "Sign Out", signout_path, method: "delete" %></li>
      </ul> -->
    <%# else %>
<!--       <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/google_oauth2">Sign In</a>
      </ul> -->
  </div>
</nav>