.dashboard-view-container{
  position: relative;
}

.dashboard-ui-view{
  @extend .main-view-container;
}

.profile_img {
  margin-left: 30px;
  border-radius: 50%;
  background: #D0D0D0;
  height: 100px;
  width: 100px;
}

.search-box {
  height: 35px;
}

.detail-img {
  margin-top: 10px;
}

.navbar {
  background-color: #555866;
  .navbar-brand {
    color: white;
  }
  ul.nav.navbar-nav li a {
    color: white;
  }
}

