/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

/**/
body, html { height: 100%; margin: 0; padding: 0; }
.container {min-height: 100%;}
/* Extended base styles (site specific)
*****************************************************************/
.sign-in {
  width: 200px;
  background-color: transparent;
  color: white;
  border-color: white;
}

/* Nav
*****************************************************************/

nav#primary {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px;
}
nav#primary li {
  position: relative;
  height: 20px;
}
nav#primary a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: transparent url('//i.imgur.com/S84hZiL.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
  background: transparent url('//i.imgur.com/S84hZiL.png') 4px -16px no-repeat;
}
nav#primary h3 {
  position: absolute;
  right: 22px;
  top: -7px;
  display: none;
  padding: 4px 20px 4px 7px;;
  color: #fff;
  white-space: nowrap;
  background: transparent url('//i.imgur.com/UwBINMR.png') 100% 50% no-repeat;
  }
nav.next-prev {
  margin: 20px 0 0 0;
  }
  a.prev,
  a.next {
    display: block;
    width: 15px;
    height: 11px;
    text-indent: -9999px;
    }
  a.prev {
    margin: 0 auto 5px auto;
    background: transparent url('//i.imgur.com/dyNl9Js.png') 0 0 no-repeat;
    }
  a.prev:hover {
    background: transparent url('//i.imgur.com/dyNl9Js.png') 0 -11px no-repeat;
    }
  a.next {
    margin: 5px auto 0 auto;
    background: transparent url('//i.imgur.com/tE41eX5.png') -1px 0 no-repeat;
    }
  a.next:hover {
    background: transparent url('//i.imgur.com/tE41eX5.png') -1px -11px no-repeat;
    }

/* Parallax
*****************************************************************/

/* content */
#content {
  z-index: 4;
  position: relative;
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  line-height: 1.7;
  }
  #content article {
    width: 400px;
    }
    #home ,
    #what,
    #more,
    #about {
      padding-top: 105px;
      }
    #home {
      color: white;
      position: absolute;
      top: 0px;
        a {
          color: white;
        }
      }
    #what {
      color: white;
      position: absolute;
      top: 1090px;
      a {
          color: white;
        }
      }
    #more {
      position: absolute;
      top: 2000px;
      }
    #content h1 {
      margin: 0 0 25px 0;
      font-size: 80px;
      font-family: 'Fredericka the Great';
      font-weight: normal;
      line-height: 85px;
      }
    #content h3 {
      font-family: 'Fredericka the Great';
      font-size: 130px;
      line-height: 155px;
    }
    #about {
      position: absolute;
      top: 3000px;
      padding-bottom: 300px;
      }
/* foreground */
#parallax-bg3 {
  z-index: 3;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 940px;
  margin-left: -470px; /* move left by half element's width */
  }
  /* balloon */
  #bg3-1 {
    position: absolute;
    top: -111px;
    left: 355px;
    border-radius: 50%;
    }
  #bg3-2 {
    position: absolute;
    top: 812px;
    left: 321px;
    }
  #bg3-3 {
    position: absolute;
    top: 1628px;
    left: 403px;
    }
  #bg3-4 {
    position: absolute;
    top: 2700px;
    left: -85px;
    }
/* midground (clouds) */
#parallax-bg2 {
  z-index: 2;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px; /* move left by half element's width */
  }
  #bg2-1 {
    position: absolute;
    top: 162px;
    left: 200px;
    }
  #bg2-2 {
    position: absolute;
    top: 300px;
    left: 1150px;
    }
  #bg2-3 {
    position: absolute;
    top: 543px;
    left: -35px;
    }
  #bg2-4 {
    position: absolute;
    top: 1180px;
    left: 250px;
    }
  #bg2-5 {
    position: absolute;
    top: 900px;
    left: 890px;
    }
/* background (clouds) */
#parallax-bg1 {
  z-index: 1;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px; /* move left by half element's width */
  }
  #bg1-1 {
    position: absolute;
    left: -800px;
    min-height: 100%;
    }
  #bg1-2 {
    position: absolute;
    top: 440px;
    left: 795px;
    }
  #bg1-3 {
    position: absolute;
    top: 900px;
    left: -220px;
    }
  #bg1-4 {
    position: absolute;
    top: 1020px;
    left: 450px;
    }
.rectangle {
  background-color: black;
  height: 100%;
  z-index: -2;
}

